/* Let's make the default font 20px and add a nice orange to match the Mango theme */

body{
  font-size: 20px;
  background-color: #f19b0a;
}

@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

/* samsung s7 portrait */
@media {
    (-webkit-min-device-pixel-ratio: 3)
    and (min-resolution: 192dpi)and max-width:640px)
}


/* Flexbox is needed for mobile responsiveness. It helps you change sizes and alignments based on the width of the screen */
.container{
  display: flex;
  flex-flow: row wrap;
}

/* Since we're making a game, let's add a custom font that gives the feel of a game */
@font-face {
  font-family: game-over;
  src: url(../fonts/PressStart2P-Regular.ttf);
}

/* Let's use the keyframes to create an animation for  color transition */

@keyframes slow-flash {
  from {color: #f19b0a;}
  to {color: #red;}
}

/* Now we'll apply the keyframe to the element h1 and have the animation transition and then reverse */

h1 {
  background-color: #f19b0a;
  animation-name: slow-flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Let's use that custom font to make the header look like a game. */
h1{
  padding: 15px 15px;
  font-size: 30px;
  font-family: game-over;
  text-align: center;
}

/* Adds padding beneath the Mangoes Collected */

.mangojuice-count{
  margin-bottom: 10px;
}

/* This is where we style our shop */

.marketplace-title {
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
}

/* I used to style each button, but it got repetitive so instead, I just styled the button itself */
button {
  font-size: 18px;
  border-radius: 5px;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  background-color: #ebc021;
  width: 400px;
}

button:hover{
  cursor: pointer;
  color: white;
  background-color: #eca714;
}

/* This will make all of the images and icons the same format */

img {
  width: 25px;
  height: 25px;
  padding-right: 10px;
}

footer {
  border: 1px solid #000000;
  padding: 5px;
}

/* Archive of old stuff I used to use

Here are my older buttons

Upgrade 1: Juice Press

.juice-press {
  font-size: 18px;
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ebc021
}

.juice-press:hover{
  cursor: pointer;
  color: #000000;
  background-color: #142cec;
}

/* Upgrade 2: Juice machine

.juice-machine {
  font-size: 18px;
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ebc021
}

.juice-machine:hover{
  cursor: pointer;
  color: #000000;
  background-color: #142cec;
}

/* Upgrade 3: Juice Bot

.juice-bot {
  font-size: 18px;
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ebc021
}

.juice-bot:hover{
  cursor: pointer;
  color: #000000;
  background-color: #142cec;
}

/* Upgrade 3: Juice Bot

.juice-drone {
  font-size: 18px;
  border-radius: 5px;
  padding: 15px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #ebc021
}

.juice-drone:hover{
  cursor: pointer;
  color: #000000;
  background-color: #142cec;
}

*/
