body {
  font-family: Georgia;
  font-size: 50px;
  margin: 1em;
  background-color: #cc3760;
  color:#333333;
  text-align: center;
}

button {
  background-color: #000000;
  color: #75e9de;
  font: Lato;
  font-size: 23px;
  padding: 5px 5px 5px 5px;
}

button:hover{
  background-color:red;
}
